# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore R seassion files
.Rhistory
.RData
.Rproj.user/

# Ignore environment files
.env
.envrc
*.yarn.lock

# Ignore Conda environment folders
.env/
env/
.venv/

# Ignore log files
logs/
*.log

# Ignore sensitive configs
config/.env
config/db_config.json

# Ignore OS files
.DS_Store
Thumbs.db
desktop.ini

# Ignore PyCharm settings
.idea/
.vscode/

# Ignore the data folder
data/
